/*Hero*/

.button {
  background-color: red;
  color: white;
}

.card-price {
  font-size: 20px;
}

.hero {
  background-image: url("design-assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  color: white;
  padding: 4rem 2 rem;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.my-header-position-2 {
  font-size: 14px;
  position: absolute;
  top: 40px;
  left: 160px;
}

/*Bone Conduction*/

.jumbotron {
  background-color: transparent;
}

/*Find Your Style*/

.fys {
  background-color: #fafafa;
  height: 5rem;

}

.card-group {
  margin-bottom: 10px;
}

.card {
  text-align: center;
  margin: 8px;
  border: 0px;
}

.card-body {
  align-content: center;
  background-color: #fafafa;
  b

}

.features {
  background-color: #fafafa;
  margin-left: 15px;
}

/*Features*/

.grid {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows:  20px 20px 45px 20px 20px 20px 20px 20px;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding-left: 24px;
  grid-auto-rows: minmax(75px, auto);
  grid-gap: .5rem;
}

.my-list-group {
  background-color:transparent;
  border: none;
  padding: 1px;
}


.bg {
  background-image: url("design-assets/features-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
  background-position: bottom;
}

@media (max-width: 480px){
  .no-bg-img .x-bg-layer-lower-image {
  background-image: none !important; 
  }
  }

@media only screen and (max-width: 479px) {
  .bg {
  }
}

.compatible {
 display: inline-block;
 justify-content: center;
 align-items: center;
 height: 500px;
}

.features {
  font-size: 20px;
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: none;
  padding-top: 50px;
  
}

.flex-container > div {
  background-color: none;
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
  vertical-align: top;
  line-height: auto;
  font-size: 20px;
}

.logos-compatibility {
  height: 400px;
  z-index: 1;

}
 
/*Instagram*/

.absolute-1 {
  position: absolute;
  bottom:12px;
  left: 67px;
}
.social-icon {
  margin-right: 10px;
}

/*Footer*/

.footer-box {
margin-top: 15px;
background-color:#000000;
padding: 50px;
line-height: 10px;
}

.logo-lockup {
  font-size: 14px;
  position: absolute;
  color: white;
  top: 30px;
  right:22px;
}

a:link {
  color:white;
  line-height: 10px;
  text-decoration: none;
}


h6 {
  color: white;
}